Repository discordjs/discord-utils-bot, pull requests merged in 2023-08, with the labels that each got.

#168 chore(tags): update required nodejs version
  tags/tags.toml
Labels: tags

#169 chore: remove /report from not-discord tag
  tags/tags.toml
Labels: tags

#157 chore(tags): anchored links are supported in message content
  tags/tags.toml
Labels: tags

#172 feat: Update discord.js version to 14.13.0
  tags/tags.toml
Labels: 🏷️ tag PR

#174 Edit paste-code tag
  tags/tags.toml
Labels: 🏷️ tag PR

#176 refactor(abort): update timeout to v14 equivalent
  tags/tags.toml
Labels: 🏷️ tag PR

#177 fix(tags): update invalid guide links
  tags/tags.toml
Labels: 🏷️ tag PR

#166 feat(commands): add command to query discord api types
  src/deployFunctions/deployGlobal.ts
  src/functions/algoliaResponse.ts
  src/functions/autocomplete/algoliaAutoComplete.ts
  src/handling/handleApplicationCommand.ts
  src/handling/handleApplicationCommandAutocomplete.ts
  src/interactions/discordtypes.ts
  src/util/compactAlgoliaId.ts
  src/util/constants.ts
  src/util/dedupe.ts
  src/util/index.ts
Labels: semver: minor
